# L5: Information extraction

Information extraction (IE) is the task of identifying named entities and semantic relations between these entities in text data. In this lab we will focus on two sub-tasks in IE, **named entity recognition** (identifying mentions of entities) and **entity linking** (matching these mentions to entities in a knowledge base).

In [229]:
import numpy as np

We start by loading spaCy:

In [230]:
import spacy

nlp = spacy.load('en_core_web_sm')

The data that we will be using has been tokenized following the conventions of the [Penn Treebank](ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html), and we need to prevent spaCy from using its own tokenizer on top of this. We therefore override spaCy&rsquo;s tokenizer with one that simply splits on space.

In [231]:
from spacy.tokens import Doc

class WhitespaceTokenizer(object):
    def __init__(self, vocab):
        self.vocab = vocab

    def __call__(self, text):
        return Doc(self.vocab, words=text.split(' '))

nlp.tokenizer = WhitespaceTokenizer(nlp.vocab)

## Data set

The main data set for this lab is a collection of news wire articles in which mentions of named entities have been annotated with page names from the [English Wikipedia](https://en.wikipedia.org/wiki/). The next code cell loads the training and the development parts of the data into Pandas data frames.

In [232]:
from google.colab import drive  #---------------------------
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [233]:
import bz2
import csv
import pandas as pd

f1='/content/drive/MyDrive/Colab Notebooks/tm_lab5/ner-train.tsv.bz2'
f2= '/content/drive/MyDrive/Colab Notebooks/tm_lab5/ner-dev.tsv.bz2'


with bz2.open(f1) as source:
    df_train = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

with bz2.open(f2) as source:
    df_dev = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

Each row in these two data frames corresponds to one mention of a named entity and has five columns:

1. a unique identifier for the sentence containing the entity mention
2. the pre-tokenized sentence, with tokens separated by spaces
3. the start position of the token span containing the entity mention
4. the end position of the token span (exclusive, as in Python list indexing)
5. the entity label; either a Wikipedia page name or the generic label `--NME--`

The following cell prints the first five samples from the training data:

In [234]:
df_train.head()

  sentence_id  ...           label
0    0000-000  ...         --NME--
1    0000-000  ...         Germany
2    0000-000  ...  United_Kingdom
3    0000-001  ...         --NME--
4    0000-002  ...        Brussels

[5 rows x 5 columns]

In this sample, we see that the first sentence is annotated with three entity mentions:

* the span 0–1 &lsquo;EU&rsquo; is annotated as a mention but only labelled with the generic `--NME--`
* the span 2–3 &lsquo;German&rsquo; is annotated with the page [Germany](http://en.wikipedia.org/wiki/Germany)
* the span 6–7 &lsquo;British&rsquo; is annotated with the page [United_Kingdom](http://en.wikipedia.org/wiki/United_Kingdom)

## Problem 1: Evaluation measures

To warm up, we ask you to write code to print the three measures that you will be using for evaluation:

In [235]:
def evaluation_report(gold, pred):
    """Print precision, recall, and F1 score.
    
    Args:
        gold: The set with the gold-standard values.
        pred: The set with the predicted values.
    
    Returns:
        Nothing, but prints the precision, recall, and F1 values computed
        based on the specified sets.
    """
    # TODO: Replace the next line with your own code
    intersection = list(gold & pred)    
    precision = len(intersection)/len(pred)
    recall = len(intersection)/len(gold)
    F1 = 2*(precision*recall)/(precision+recall)
    print("precision:", precision, "\nrecall:   ", recall, "\nf1-score: ", F1)

In [236]:
###
set(range(3,9))&set(range(6,12))

{6, 7, 8}

To test your code, you can run the following cell:

In [237]:
evaluation_report(set(range(3)), set(range(5)))

precision: 0.6
recall:    1.0
f1-score:  0.7499999999999999

This should give you a precision of 60%, a recall of 100%, and an F1-value of 75%.

## Problem 2: Span recognition

One of the first tasks that an information extraction system has to solve is to locate and classify (mentions of) named entities, such as persons and organizations. Here we will tackle the simpler task of recognizing **spans** of tokens that contain an entity mention, without the actual entity label.

The English language model in spaCy features a full-fledged [named entity recognizer](https://spacy.io/usage/linguistic-features#named-entities) that identifies a variety of entities, and can be updated with new entity types by the user. Your task in this problem is to evaluate the performance of this component when predicting entity spans in the development data.

Start by implementing a generator function that yields the gold-standard spans in a given data frame.

**Hint:** The Pandas method [`itertuples()`](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.itertuples.html) is useful when iterating over the rows in a DataFrame.

In [238]:
def gold_spans(df):
  for row in df.iloc[:,[0,2,3]].itertuples(index=False, name=None):
    yield row  # save space

    """Yield the gold-standard mention spans in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    # TODO: Replace the next line with your own code

To test your code, you can count the spans yielded by your function. When called on the development data, you should get a total of 5,917 unique triples. The first triple and the last triple should be

    ('0946-000', 2, 3)
    ('1161-010', 1, 3)

In [239]:
res=list(gold_spans(df_dev))
print(res[0]) # the first
print(res[-1]) # the last

('0946-000', 2, 3)
('1161-010', 1, 3)

In [240]:
###
[row for row in df_dev.iloc[[0,df_dev.shape[0]-1],[0,2,3]].itertuples(index=False, name=None)]

[('0946-000', 2, 3), ('1161-010', 1, 3)]

In [241]:
spans_dev_gold = set(gold_spans(df_dev))
print(len(spans_dev_gold))

5917

Your next task is to write code that calls spaCy to predict the named entities in the development data, and to evaluate the accuracy of these predictions in terms of precision, recall, and F1. Print these scores using the function that you wrote for Problem&nbsp;1.

In [242]:
# TODO: Write code here to run and evaluate the spaCy NER on the development data

In [243]:
###
row = [i for i in df_dev.iloc[:124, [0,1]].drop_duplicates().itertuples(index=False)][2]
nlp(row[1]).ents

(West Indian, Phil Simmons, four, 38, Friday, Somerset, 39, two days)

In [244]:
### https://spacy.io/api/span
nlp(row[1]).ents[1].end

5

In [245]:
# dir(nlp(row[1]).ents[1])

In [246]:
# https://spacy.io/usage/linguistic-features#named-entities

def Pred_entity(df):
  for row in df.iloc[:, [0,1]].drop_duplicates().itertuples(index=False): # .drop_duplicates()
    for ent in nlp(row[1]).ents:
      yield (row[0], ent.start, ent.end)

In [247]:
evaluation_report(set(gold_spans(df_dev)),set(Pred_entity(df_dev)))

precision: 0.529449922158796
recall:    0.6897076221057968
f1-score:  0.599045871559633

## Problem 3: Error analysis

As you were able to see in Problem&nbsp;2, the span accuracy of the named entity recognizer is far from perfect. In particular, only slightly more than half of the predicted spans are correct according to the gold standard. Your next task is to analyse this result in more detail.

Here is a function that prints the false positives as well as the false negatives spans for a data frame, given a reference set of gold-standard spans and a candidate set of predicted spans.

In [248]:
from collections import defaultdict

def error_report(df, spans_gold, spans_pred):
    false_pos = defaultdict(list)
    for s, b, e in spans_pred - spans_gold:
        false_pos[s].append((b, e))
    false_neg = defaultdict(list)
    for s, b, e in spans_gold - spans_pred:
        false_neg[s].append((b, e))
    for row in df.drop_duplicates('sentence_id').itertuples():
        if row.sentence_id in false_pos or row.sentence_id in false_neg:
            print('Sentence:', row.sentence)
            for b, e in false_pos[row.sentence_id]:
                print('  FP:', ' '.join(row.sentence.split()[b:e]   )      )
            for b, e in false_neg[row.sentence_id]:
                print('  FN:', ' '.join(row.sentence.split()[b:e]))

Use this function to inspect and analyse the errors that the automated prediction makes. Can you see any patterns? Base your analysis on the first 500 rows of the training data. Summarize your observations in a short text.

In [249]:
# TODO: Write code here to do your analysis

In [250]:
###
set([1,2,3,4,5])-set([1,2,3,6])
set([1,2,3])-set([1,2,3,4,5])

set()

In [251]:
df=df_dev.iloc[:500,]
error_report(df,set(gold_spans(df)),set(Pred_entity(df)) )
# too many errors in number, time,place,and the like

Sentence: CRICKET - LEICESTERSHIRE TAKE OVER AT TOP AFTER INNINGS VICTORY .
  FN: LEICESTERSHIRE
Sentence: West Indian all-rounder Phil Simmons took four for 38 on Friday as Leicestershire beat Somerset by an innings and 39 runs in two days to take over at the head of the county championship .
  FP: two days
  FP: 38
  FP: four
  FP: Friday
  FP: 39
  FN: Leicestershire
Sentence: After bowling Somerset out for 83 on the opening morning at Grace Road , Leicestershire extended their first innings by 94 runs before being bowled out for 296 with England discard Andy Caddick taking three for 83 .
  FP: first
  FP: 83
  FP: the opening morning
  FP: 296
  FP: three
  FP: 83
  FP: 94
Sentence: Trailing by 213 , Somerset got a solid start to their second innings before Simmons stepped in to bundle them out for 174 .
  FP: 213
  FP: 174
  FP: second
  FN: Simmons
Sentence: Essex , however , look certain to regain their top spot after Nasser Hussain and Peter Such gave them a firm grip on their match against Yorkshire at Headingley .
  FP: Yorkshire at Headingley
  FN: Yorkshire
  FN: Essex
  FN: Headingley
Sentence: Hussain , considered surplus to England 's one-day requirements , struck 158 , his first championship century of the season , as Essex reached 372 and took a first innings lead of 82 .
  FP: 158
  FP: his first championship century of the season
  FP: first
  FP: 82
  FP: one-day
  FP: 372
  FN: Hussain
Sentence: By the close Yorkshire had turned that into a 37-run advantage but off-spinner Such had scuttled their hopes , taking four for 24 in 48 balls and leaving them hanging on 119 for five and praying for rain .
  FP: five
  FP: 48
  FP: 119
  FP: four
  FP: 24
  FN: Such
Sentence: At the Oval , Surrey captain Chris Lewis , another man dumped by England , continued to silence his critics as he followed his four for 45 on Thursday with 80 not out on Friday in the match against Warwickshire .
  FP: Friday
  FP: 45
  FP: four
  FP: 80
  FP: Thursday
  FN: Warwickshire
Sentence: He was well backed by England hopeful Mark Butcher who made 70 as Surrey closed on 429 for seven , a lead of 234 .
  FP: 429
  FP: 70
  FP: seven
  FP: 234
Sentence: Derbyshire kept up the hunt for their first championship title since 1936 by reducing Worcestershire to 133 for five in their second innings , still 100 runs away from avoiding an innings defeat .
  FP: 100
  FP: second
  FP: 133
  FP: 1936
  FP: five
  FP: first
  FN: Derbyshire
  FN: Worcestershire
Sentence: Australian Tom Moody took six for 82 but Chris Adams , 123 , and Tim O'Gorman , 109 , took Derbyshire to 471 and a first innings lead of 233 .
  FP: 82
  FP: six
  FP: 109
  FP: 233
  FP: first
  FP: 123
  FP: 471
  FN: Derbyshire
Sentence: After the frustration of seeing the opening day of their match badly affected by the weather , Kent stepped up a gear to dismiss Nottinghamshire for 214 .
  FP: 214
  FP: the opening day
Sentence: They were held up by a gritty 84 from Paul Johnson but ex-England fast bowler Martin McCague took four for 55 .
  FP: four
  FP: 84
  FP: 55
Sentence: By stumps Kent had reached 108 for three .
  FP: three
  FP: 108
Sentence: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES .
  FP: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES
  FN: ENGLISH COUNTY CHAMPIONSHIP
Sentence: Result and close of play scores in English county championship matches on Friday :
  FP: Friday
Sentence: Leicester : Leicestershire beat Somerset by an innings and 39 runs .
  FP: 39
  FN: Leicester
  FN: Leicestershire
Sentence: Somerset 83 and 174 ( P. Simmons 4-38 ) , Leicestershire 296 .
  FP: P. Simmons 4-38
  FP: 296
  FP: 83
  FP: 174
  FN: Somerset
  FN: P. Simmons
Sentence: Leicestershire 22 points , Somerset 4 .
  FP: 22
  FP: 4
  FN: Somerset
  FN: Leicestershire
Sentence: Chester-le-Street : Glamorgan 259 and 207 ( A. Dale 69 , H. Morris 69 ; D. Blenkiron 4-43 ) , Durham 114 ( S. Watkin 4-28 ) and 81-3 .
  FP: 259
  FP: Durham 114
  FP: H. Morris 69
  FP: 207
  FP: D.
  FP: A. Dale 69
  FP: 81-3
  FP: 4-43
  FN: H. Morris
  FN: Glamorgan
  FN: Chester-le-Street
  FN: D. Blenkiron
  FN: Durham
  FN: S. Watkin
  FN: A. Dale
Sentence: Tunbridge Wells : Nottinghamshire 214 ( P. Johnson 84 ; M. McCague 4-55 ) , Kent 108-3 .
  FP: P. Johnson 84
  FP: M. McCague 4-55
  FP: Nottinghamshire 214
  FP: Kent 108-3
  FN: P. Johnson
  FN: M. McCague
  FN: Nottinghamshire
  FN: Tunbridge Wells
  FN: Kent
Sentence: London ( The Oval ) : Warwickshire 195 , Surrey 429-7 ( C. Lewis 80 not out , M. Butcher 70 , G. Kersey 63 , J. Ratcliffe 63 , D. Bicknell 55 ) .
  FP: 195
  FP: G. Kersey 63
  FP: D.
  FP: Oval
  FP: Surrey 429-7
  FP: J. Ratcliffe 63
  FN: G. Kersey
  FN: Surrey
  FN: D. Bicknell
  FN: J. Ratcliffe
  FN: Warwickshire
  FN: The Oval
Sentence: Hove : Sussex 363 ( W. Athey 111 , V. Drakes 52 ; I. Austin 4-37 ) , Lancashire 197-8 ( W. Hegg 54 )
  FP: Lancashire 197-8
  FP: 54
  FP: 363
  FP: W. Athey 111
  FP: 52
  FP: I. Austin 4-37
  FN: Hove
  FN: W. Athey
  FN: I. Austin
  FN: Lancashire
  FN: Sussex
Sentence: Portsmouth : Middlesex 199 and 426 ( J. Pooley 111 , M. Ramprakash 108 , M. Gatting 83 ) , Hampshire 232 and 109-5 .
  FP: 109-5
  FP: 232
  FP: Middlesex 199
  FP: 426
  FP: M. Gatting 83
  FN: Portsmouth
  FN: M. Gatting
  FN: Middlesex
Sentence: Chesterfield : Worcestershire 238 and 133-5 , Derbyshire 471 ( J. Adams 123 , T.O'Gorman 109 not out , K. Barnett 87 ; T. Moody 6-82 )
  FP: J. Adams 123
  FP: K. Barnett 87
  FP: 109
  FP: 238
  FP: 471
  FP: 133-5
  FP: T. Moody 6-82
  FN: K. Barnett
  FN: Chesterfield
  FN: T. Moody
  FN: T.O'Gorman
  FN: Worcestershire
  FN: J. Adams
  FN: Derbyshire
Sentence: Bristol : Gloucestershire 183 and 185-6 ( J. Russell 56 not out ) , Northamptonshire 190 ( K. Curran 52 ; A. Smith 5-68 ) .
  FP: 183
  FP: K. Curran 52
  FP: 190
  FP: 185-6
  FN: K. Curran
  FN: Gloucestershire
  FN: Northamptonshire
Sentence: CRICKET - 1997 ASHES INTINERARY .
  FN: ASHES
Sentence: Australia will defend the Ashes in
  FN: Ashes
Sentence: starting on May 13 next year , the Test and County Cricket Board
  FP: the Test and County Cricket Board
  FP: May 13 next year
  FN: Test and County Cricket Board
Sentence: Australia will also play three one-day internationals and
  FP: three
Sentence: as well as one-day matches against the Minor Counties and
  FP: the Minor Counties
  FN: Minor Counties
Sentence: May 13 Arrive in London
  FP: May 13
Sentence: May 14 Practice at Lord 's
  FP: May 14
  FN: Lord 's
Sentence: May 15 v Duke of Norfolk 's XI ( at Arundel )
  FP: May 15
  FP: Norfolk
  FN: Duke of Norfolk 's XI
Sentence: May 17 v Northampton
  FP: May 17
Sentence: May 18 v Worcestershire
  FP: May 18
  FN: Worcestershire
Sentence: May 20 v Durham
  FP: May 20
Sentence: May 22 First one-day international ( at Headingley ,
  FP: May 22
  FP: First
Sentence: Leeds )
  FN: Leeds
Sentence: May 24 Second one-day international ( at The Oval ,
  FP: Second
  FP: Oval
  FP: May 24
  FN: The Oval
Sentence: May 25 Third one-day international ( at Lord 's , London )
  FP: May 25
  FP: Third
  FN: Lord 's
Sentence: May 27-29 v Gloucestershire or Sussex or Surrey ( three
  FP: three
Sentence: May 31 - June 2 v Derbyshire ( three days )
  FP: three days
  FP: May 31 - June 2
  FN: Derbyshire
Sentence: June 5-9 First test match ( at Edgbaston , Birmingham )
  FP: June
  FP: First
Sentence: June 14-16 v Leicestershire ( three days )
  FP: June
  FP: three days
  FN: Leicestershire
Sentence: June 19-23 Second test ( at Lord 's )
  FP: Second
  FP: June
  FN: Lord 's
Sentence: June 25-27 v British Universities ( at Oxford , three days )
  FP: British
  FP: three days
  FP: June
  FN: British Universities
Sentence: June 28-30 v Hampshire ( three days )
  FP: three days
  FP: June 28-30
Sentence: July 3-7 Third test ( at Old Trafford , Manchester )
  FP: Third
  FP: July
Sentence: July 9 v Minor Counties XI
  FP: July 9
  FN: Minor Counties XI
Sentence: July 12 v Scotland
  FP: July 12
Sentence: July 16-18 v Glamorgan ( three days )
  FP: three days
  FP: July 16-18
Sentence: July 19-21 v Middlesex ( three days )
  FP: July 19-21
  FP: three days
Sentence: July 24-28 Fourth test ( at Headingley )
  FP: Fourth
  FP: July 24-28
Sentence: August 1-4 v Somerset ( four days )
  FP: four days
  FP: August
  FN: Somerset
Sentence: August 7-11 Fifth test ( at Trent Bridge , Nottingham )
  FP: Fifth
  FP: August
Sentence: August 16-18 v Kent ( three days )
  FP: three days
  FP: August 16-18
Sentence: August 21-25 Sixth test ( at The Oval , London ) .
  FP: August
  FP: Sixth
  FP: Oval
  FN: The Oval
Sentence: SOCCER - SHEARER NAMED AS ENGLAND CAPTAIN .
  FN: ENGLAND
  FN: SHEARER
Sentence: The world 's costliest footballer Alan Shearer was named as the new England captain on Friday .
  FP: Friday
Sentence: The 26-year-old , who joined Newcastle for 15 million pounds sterling ( $ 23.4 million ) , takes over from Tony Adams , who led the side during the European championship in June , and former captain David Platt .
  FP: $ 23.4 million
  FP: 26-year-old
  FP: 15 million pounds
  FP: June
Sentence: Adams and Platt are both injured and will miss England 's opening World Cup qualifier against Moldova on Sunday .
  FP: Sunday
  FN: Adams
Sentence: Shearer takes the captaincy on a trial basis , but new coach Glenn Hoddle said he saw no reason why the former Blackburn and Southampton skipper should not make the post his own .
  FN: Shearer
Sentence: " I 'm sure there wo n't be a problem , I 'm sure Alan is the man for the job , " Hoddle said .
  FN: Hoddle
Sentence: " There were three or four people who could have done it but when I spoke to Alan he was up for it and really wanted it .
  FP: three or four
Sentence: Shearer 's Euro 96 striking partner Teddy Sheringham withdrew from the squad with an injury on Friday .
  FP: Friday
Sentence: BELGRADE 1996-08-30
  FN: BELGRADE
Sentence: SOCCER - ROMANIA BEAT LITHUANIA IN UNDER-21 MATCH .
  FN: LITHUANIA
  FN: ROMANIA
Sentence: BUCHAREST 1996-08-30
  FN: BUCHAREST
Sentence: Romania beat Lithuania 2-1 ( halftime 1-1 ) in their European under-21 soccer match on Friday .
  FP: Friday
  FP: 1-1
Sentence: Romania - Cosmin Contra ( 31st ) , Mihai Tararache ( 75th )
  FP: 75th
  FN: Cosmin Contra
Sentence: Lithuania - Danius Gleveckas ( 13rd )
  FP: Lithuania - Danius Gleveckas
  FP: 13rd
  FN: Lithuania
  FN: Danius Gleveckas
Sentence: SOCCER - ROTOR FANS LOCKED OUT AFTER VOLGOGRAD VIOLENCE .
  FN: VOLGOGRAD
  FN: ROTOR
Sentence: MOSCOW 1996-08-30
  FN: MOSCOW
Sentence: Rotor Volgograd must play their next home game behind closed doors after fans hurled bottles and stones at Dynamo Moscow players during a 1-0 home defeat on Saturday that ended Rotor 's brief spell as league leaders .
  FP: Saturday
  FP: 1-0
  FP: Volgograd
  FN: Rotor Volgograd
Sentence: The head of the Russian league 's disciplinary committee , Anatoly Gorokhovsky , said on Friday that Rotor would play Lada Togliatti to empty stands on September 3 .
  FP: Friday
  FP: September 3
Sentence: The club , who put Manchester United out of last year 's UEFA Cup , were fined $ 1,000 .
  FP: 1,000
  FP: last year 's
Sentence: Despite the defeat , Rotor are well placed with 11 games to play in the championship .
  FP: 11
  FN: Rotor
Sentence: Lying three points behind Alania and two behind Dynamo Moscow , the Volgograd side have a game in hand over the leaders and two over the Moscow club .
  FP: two
  FP: two
  FP: three
Sentence: BOXING - PANAMA 'S ROBERTO DURAN FIGHTS THE SANDS OF TIME .
  FP: BOXING - PANAMA 'S
  FN: PANAMA
  FN: ROBERTO DURAN
Sentence: PANAMA CITY 1996-08-30
  FN: PANAMA CITY
Sentence: Panamanian boxing legend Roberto " Hands of Stone " Duran climbs into the ring on Saturday in another age-defying attempt to sustain his long career .
  FP: Duran
  FP: Roberto
  FP: Saturday
  FN: Roberto " Hands of Stone " Duran
Sentence: Duran , 45 , takes on little-known Mexican Ariel Cruz , 30 , in a super middleweight non-title bout in Panama City .
  FP: 45
  FP: 30
Sentence: The fight , Duran 's first on home soil for 10 years , is being billed here as the " Return of the Legend " and Duran still talks as if he was in his prime .
  FP: 10 years
  FP: first
Sentence: If he loses Saturday , it could devalue his position as one of the world 's great boxers , " Panamanian Boxing Association President Ramon Manzanares said .
  FP: Saturday
  FP: Panamanian Boxing Association
  FP: one
  FN: Panamanian
  FN: Boxing Association
Sentence: Duran , whose 97-12 record spans three decades , hopes a win in the 10-round bout will earn him a rematch against Puerto Rico 's Hector " Macho " Camacho .
  FP: 10-round
  FP: Puerto Rico 's
  FP: three decades
  FN: Hector " Macho " Camacho
  FN: Puerto Rico
Sentence: Camacho took a controversial points decision against the Panamanian in Atlantic City in June in a title fight .
  FP: June
Sentence: SQUASH - HONG KONG OPEN QUARTER-FINAL RESULTS .
  FN: HONG KONG OPEN
Sentence: Quarter-final results in the Hong Kong Open on Friday ( prefix number denotes seeding ) : 1 - Jansher Khan ( Pakistan ) beat Mark Cairns ( England ) 15-10 15-6 15-7
  FP: the Hong Kong Open
  FP: Friday
  FP: 1
  FP: 15-6 15-7
  FN: Jansher Khan
  FN: Hong Kong Open
Sentence: 4 - Peter Nicol ( Scotland ) beat 7 - Chris Walker ( England ) 15-8 15-13 13-15 15-9
  FP: 7
  FP: 15-8
  FP: 13-15 15-9
  FP: 4
  FN: Peter Nicol
Sentence: 2 - Rodney Eyles ( Australia ) beat Derek Ryan ( Ireland ) 15-6 15-9 11-15 15-10 .
  FP: 2
  FP: 15-9
  FN: Rodney Eyles
Sentence: SOCCER - RESULTS OF SOUTH KOREAN PRO-SOCCER GAMES .
  FN: SOUTH KOREAN
Sentence: SEOUL 1996-08-30
  FN: SEOUL
Sentence: Pohang 3 Ulsan 2 ( halftime 1-0 )
  FP: 1-0
  FP: Pohang 3
  FN: Ulsan
  FN: Pohang
Sentence: Puchon 2 Chonbuk 1 ( halftime 1-1 )
  FP: 1-1
  FP: Puchon 2 Chonbuk 1
  FN: Chonbuk
  FN: Puchon
Sentence: Puchon 3 1 0 6 1 10
  FP: 6
  FP: 1
Sentence: Chonan 3 0 1 13 10 9
  FP: Chonan 3
  FN: Chonan
Sentence: Pohang 2 1 1 11 10 7
  FP: Pohang 2
  FN: Pohang
Sentence: Suwan 1 3 0 7 3 6
  FP: 1 3
  FP: 3
  FP: 7
  FN: Suwan
Sentence: Ulsan 1 0 2 8 9 3
  FP: 8
  FP: 2
  FP: 1
  FN: Ulsan
Sentence: Anyang 0 3 1 6 9 3
  FP: 1
  FN: Anyang
Sentence: Chonnam 0 2 1 4 5 2
  FN: Chonnam
Sentence: Pusan 0 2 1 3 7 2
  FP: 2
  FN: Pusan
Sentence: Chonbuk 0 0 3 3 7 0
  FP: 3
  FN: Chonbuk
Sentence: BASEBALL - RESULTS OF S. KOREAN PROFESSIONAL GAMES .
  FN: S. KOREAN
Sentence: SEOUL 1996-08-30
  FN: SEOUL
Sentence: LG 2 OB 0
  FN: LG
  FN: OB
Sentence: Lotte 6 Hyundai 2
  FP: 2
  FN: Lotte
Sentence: Hyundai 6 Lotte 5
  FP: 6 Lotte
  FN: Lotte
Sentence: Haitai 2 Samsung 0
  FP: Haitai 2
  FN: Haitai
  FN: Samsung
Sentence: Samsung 10 Haitai 3
  FP: 3
  FN: Samsung
  FN: Haitai
Sentence: Hanwha 6 Ssangbangwool 5
  FP: 6
  FN: Hanwha
  FN: Ssangbangwool
Sentence: Note - Lotte and Hyundai , Haitai and Samsung played two games .
  FP: two
  FN: Lotte
Sentence: Haitai 64 2 43 .596 -
  FP: Haitai 64
  FN: Haitai
Sentence: Ssangbangwool 59 2 49 .545 5 1/2
  FP: 59
  FP: 5 1/2
  FN: Ssangbangwool
Sentence: Hanwha 58 1 49 .542 6
  FP: 58
  FN: Hanwha
Sentence: Hyundai 57 5 49 .536 6 1/2
  FP: 6 1/2
  FP: 57
Sentence: Samsung 49 5 56 .468 14
  FN: Samsung
Sentence: Lotte 46 6 54 .462 14 1/2
  FP: 14 1/2
  FN: Lotte
Sentence: LG 46 5 59 .441 17
  FP: 17
  FN: LG
Sentence: OB 42 6 62 .409 20 1/2
  FP: 42
  FP: 20 1/2
  FN: OB
Sentence: TENNIS - FRIDAY 'S RESULTS FROM THE U.S. OPEN .
  FP: TENNIS - FRIDAY 'S
  FP: U.S.
  FN: U.S. OPEN
Sentence: Results from the U.S. Open Tennis Championships at the National Tennis Centre on Friday ( prefix number denotes seeding ) :
  FP: Friday
  FP: the National Tennis Centre
  FN: National Tennis Centre
  FN: U.S. Open Tennis Championships
Sentence: 4 - Goran Ivanisevic ( Croatia ) beat Scott Draper ( Australia ) 6-7 ( 1-7 ) 6-3 6-4 6-4
  FP: 6-3
  FP: 4
  FN: Goran Ivanisevic
Sentence: Tim Henman ( Britain ) beat Doug Flach ( U.S. ) 6-3 6-4 6-2
  FP: 6-3
Sentence: Mark Philippoussis ( Australia ) beat Andrei Olhovskiy ( Russia ) 6 - 3 6-4 6-2
  FP: 6
Sentence: Sjeng Schalken ( Netherlands ) beat David Rikl ( Czech Republic ) 6 - 2 6-4 6-4
  FP: 6
  FP: Czech
  FN: Czech Republic
Sentence: Guy Forget ( France ) beat 17 - Felix Mantilla ( Spain ) 6-4 7-5 6-3
  FP: 17
Sentence: Alexander Volkov ( Russia ) beat Mikael Tillstrom ( Sweden ) 1-6 6- 4 6-1 4-6 7-6 ( 10-8 )
  FP: 10-8
  FP: 7-6
  FP: 1-6
  FP: 6-1
Sentence: Jonas Bjorkman ( Sweden ) beat David Nainkin ( South Africa ) ) 6-4 6-1 6-1
  FP: 6-1 6-1
Sentence: 8 - Lindsay Davenport ( U.S. ) beat Anne-Gaelle Sidot ( France ) 6-0 6-3
  FP: 8
  FP: Sidot
  FN: Anne-Gaelle Sidot
  FN: Lindsay Davenport
Sentence: 4 - Conchita Martinez ( Spain ) beat Helena Sukova ( Czech Republic ) 6-4 6-3
  FP: 4
  FN: Conchita Martinez
Sentence: Amanda Coetzer ( South Africa ) beat Irina Spirlea ( Romania ) 7-6 ( 7-5 ) 7-5
  FN: Romania
Sentence: Add Men 's singles , second round 16 - Cedric Pioline ( France ) beat Roberto Carretero ( Spain ) 4-6 6 - 2 6-2 6-1 Alex Corretja ( Spain ) beat Filippo Veglio ( Switzerland ) 6-7 ( 4- 7 ) 6-4 6-4 6-0
  FP: 7
  FP: 6-1
  FP: second
  FP: 6
  FP: 16
  FP: Add Men 's
  FN: Alex Corretja
  FN: Cedric Pioline
Sentence: Add Women 's singles , third round Linda Wild ( U.S. ) beat Barbara Rittner ( Germany ) 6-4 4-6 7-5 Asa Carlsson ( Sweden ) beat 15 - Gabriela Sabatini ( Argentina ) 7-5 3-6 6-2
  FP: 7-5 Asa Carlsson ( Sweden
  FP: third
  FP: 4-6
  FP: Add Women 's
  FP: 15
  FN: Sweden
  FN: Asa Carlsson
  FN: Gabriela Sabatini
Sentence: Add Men 's singles , second round 1 - Pete Sampras ( U.S. ) beat Jiri Novak ( Czech Republic ) 6-3 1-6 6-3 4-6 6-4 Paul Haarhuis ( Netherlands ) beat Michael Tebbutt ( Australia ) 1- 6 6-2 6-2 6-3
  FP: - Pete Sampras
  FP: 1
  FP: Add Men 's
  FP: 6-3 1-6 6-3
  FP: 6 6-2
  FP: second
  FN: Pete Sampras
Sentence: Add Women 's singles , third round Lisa Raymond ( U.S. ) beat Kimberly Po ( U.S. ) 6-3 6-2
  FP: 6-3 6-2
  FP: third
  FP: Add Women 's
Sentence: 2 - Monica Seles ( U.S. ) beat Dally Randriantefy ( Madagascar )
  FP: 2
  FN: Madagascar
  FN: Monica Seles
Sentence: Add men 's singles , second round 12 - Todd Martin ( U.S. ) beat Andrea Gaudenzi ( Italy ) 6-3 6-2 6-2 Stefan Edberg ( Sweden ) beat Bernd Karbacher ( Germany ) 3-6 6-3 6-3 1-0 retired ( leg injury )
  FP: 1-0
  FP: 3-6
  FP: 12
  FP: second
  FP: 6-3 6-3
Sentence: BASEBALL - MAJOR LEAGUE STANDINGS AFTER THURSDAY 'S GAMES .
  FP: BASEBALL - MAJOR LEAGUE STANDINGS
  FN: MAJOR LEAGUE
Sentence: NEW YORK 74 59 .556 -
  FP: 74 59
Sentence: BALTIMORE 70 63 .526 4
  FP: 70 63
  FN: BALTIMORE
Sentence: BOSTON 69 65 .515 5 1/2
  FP: 69 65 .515
  FP: 5 1/2
  FN: BOSTON
Sentence: TORONTO 63 71 .470 11 1/2
  FP: 11 1/2
  FP: 63 71
  FN: TORONTO
Sentence: DETROIT 48 86 .358 26 1/2
  FP: 48 86
  FP: 26 1/2
  FN: DETROIT
Sentence: CENTRAL DIVISION
  FN: CENTRAL DIVISION
Sentence: CLEVELAND 80 53 .602 -
  FP: 80
  FN: CLEVELAND
Sentence: CHICAGO 71 64 .526 10
  FP: 71 64
  FN: CHICAGO
Sentence: MINNESOTA 67 67 .500 13 1/2
  FP: 13 1/2
Sentence: MILWAUKEE 64 71 .474 17
  FP: 64 71
  FN: MILWAUKEE
Sentence: KANSAS CITY 61 74 .452 20
  FP: 61 74
  FP: 20
  FN: KANSAS CITY
Sentence: WESTERN DIVISION
  FN: WESTERN DIVISION
Sentence: TEXAS 75 58 .564 -
  FP: 75 58
Sentence: SEATTLE 70 63 .526 5
  FN: SEATTLE
Sentence: OAKLAND 64 72 .471 12 1/2
  FP: 64 72
  FP: 12 1/2
  FN: OAKLAND
Sentence: CALIFORNIA 62 72 .463 13 1/2
  FP: 13 1/2
  FP: 62 72
Sentence: KANSAS CITY AT DETROIT
  FN: KANSAS CITY
  FN: DETROIT
Sentence: CHICAGO AT TORONTO
  FN: CHICAGO
  FN: TORONTO
Sentence: CLEVELAND AT TEXAS
  FN: CLEVELAND
Sentence: BOSTON AT OAKLAND
  FN: OAKLAND
  FN: BOSTON
Sentence: BALTIMORE AT SEATTLE
  FN: BALTIMORE
Sentence: MONTREAL 71 61 .538 12
  FP: 71 61 .538 12
Sentence: PHILADELPHIA 54 80 .403 30
  FP: 54 80
  FP: 30
Sentence: CENTRAL DIVISION
  FN: CENTRAL DIVISION
Sentence: HOUSTON 72 63 .533 -
  FP: 72 63

*TODO: Write a short text that summarises the errors that you observed*

In [252]:
FN = list(set(gold_spans(df_dev)) - set(Pred_entity(df_dev))   )
FP = list(set(Pred_entity(df_dev)) - set(gold_spans(df_dev)))

In [253]:
print("FN count:", len(FN))
print("Fp count:", len(FP))

FN count: 1836
Fp count: 3627

In [254]:
def entity_label(entities, df):  # label_, string
    #res = []
    for s, b, e in entities:
        entity_ = " ".join(df.loc[df_dev.sentence_id==s, "sentence"].values[0].split()[b:e])
        ents = nlp(entity_).ents
        yield ents[0].label_ if len(ents)!=0 else "None"  # label

In [255]:
#list(entity_label(FP, df_dev))
FP_lab = entity_label(FP, df_dev)
FN_lab = entity_label(FN, df_dev)
gold_lab = entity_label(gold_spans(df_dev), df_dev)

In [256]:
print("FP label counts:")
print(pd.DataFrame({"label": FP_lab}).label.value_counts())
print("\nFN label counts:")
print(pd.DataFrame({"label": FN_lab}).label.value_counts())
print("\nGolden label counts:")
print(pd.DataFrame({"label": gold_lab}).label.value_counts())

FP label counts:
CARDINAL       1563
DATE            764
None            408
ORG             223
PERSON          169
ORDINAL         119
GPE              99
TIME             73
QUANTITY         53
PERCENT          48
MONEY            44
NORP             37
EVENT            17
LOC               7
WORK_OF_ART       2
LAW               1
Name: label, dtype: int64

FN label counts:
None        1157
ORG          230
PERSON       222
GPE          151
NORP          51
DATE           8
EVENT          7
CARDINAL       5
LOC            4
PRODUCT        1
Name: label, dtype: int64

Golden label counts:
None        2156
GPE         1362
PERSON      1178
ORG          676
NORP         478
EVENT         26
LOC           16
DATE           8
CARDINAL       7
LAW            5
PRODUCT        3
FAC            2
Name: label, dtype: int64

Now, use the insights from your error analysis to improve the automated prediction that you implemented in Problem&nbsp;2. While the best way to do this would be to [update spaCy&rsquo;s NER model](https://spacy.io/usage/linguistic-features#updating) using domain-specific training data, for this lab it suffices to write code to post-process the output produced by spaCy. You should be able to improve the F1 score from Problem&nbsp;2 by at last 15 percentage points.

In [257]:
# TODO: Write code here to improve the span prediction from Problem 2

![image.png]()

In [258]:
def Pred_entity_improved(df,lab_filtered):
  for row in df.iloc[:, [0,1]].drop_duplicates().itertuples(index=False): # .drop_duplicates()
    for ent in nlp(row[1]).ents:
      if not ent.label_ in lab_filtered:
        yield (row[0], ent.start, ent.end)

In [259]:
# trying and checking, em...boring
lab_filtered = ["CARDINAL", "DATE", "ORDINAL",# "GPE",
                #"PERSON",
              #  "ORG",
                "TIME", "QUANTITY", "MONEY", "PERCENT"]
evaluation_report(set(gold_spans(df_dev)),set(Pred_entity_improved(df_dev,lab_filtered)))

precision: 0.8447668393782384
recall:    0.6888625992901808
f1-score:  0.758890336994973

Show that you achieve the performance goal by reporting the evaluation measures that you implemented in Problem&nbsp;1.

Before going on, we ask you to store the outputs of the improved named entity recognizer on the development data in a new data frame. This new frame should have the same layout as the original data frame for the development data that you loaded above, but should contain the *predicted* start and end positions for each token span, rather than the gold positions. As the `label` of each span, you can use the special value `--NME--`.

In [260]:
df_dev.head()

  sentence_id  ...                               label
0    0946-000  ...  Leicestershire_County_Cricket_Club
1    0946-001  ...                              London
2    0946-002  ...            West_Indies_cricket_team
3    0946-002  ...                        Phil_Simmons
4    0946-002  ...  Leicestershire_County_Cricket_Club

[5 rows x 5 columns]

In [261]:
# TODO: Write code here to store the predicted spans in a new data frame
#list(Pred_entity_improved(df_dev,lab_filtered) )

In [262]:
df_pred_ent = pd.DataFrame(list(Pred_entity_improved(df_dev,lab_filtered) ), columns=["sentence_id", "beg", "end"])

df_pred_ent["sentence"] = df_pred_ent.sentence_id.apply(lambda x: df_dev.loc[df_dev.sentence_id==x].sentence.values[0])
df_pred_ent["label"] = ["--NME--"]* df_pred_ent.shape[0]
df_pred_ent = df_pred_ent.loc[:, ["sentence_id", "sentence", "beg", "end", "label"]]
df_pred_ent

     sentence_id  ...    label
0       0946-001  ...  --NME--
1       0946-002  ...  --NME--
2       0946-002  ...  --NME--
3       0946-002  ...  --NME--
4       0946-003  ...  --NME--
...          ...  ...      ...
4820    1161-007  ...  --NME--
4821    1161-007  ...  --NME--
4822    1161-007  ...  --NME--
4823    1161-009  ...  --NME--
4824    1161-010  ...  --NME--

[4825 rows x 5 columns]

## Problem 4: Entity linking

Now that we have a method for predicting mention spans, we turn to the task of **entity linking**, which amounts to predicting the knowledge base entity that is referenced by a given mention. In our case, for each span we want to predict the Wikipedia page that this mention references.

Start by extending the generator function that you implemented in Problem&nbsp;2 to labelled spans.

In [263]:
def gold_mentions(df):
  for row in df.iloc[:,[0,2,3,4]].itertuples(index=False, name=None):
    yield row
    """Yield the gold-standard mentions in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and entity label of each span.
    """
    # TODO: Replace the next line with your own code

A naive baseline for entity linking on our data set is to link each mention span to the Wikipedia page name that we get when we join the tokens in the span by underscores, as is standard in Wikipedia page names. Suppose, for example, that a span contains the two tokens

    Jimi Hendrix

The baseline Wikipedia page name for this span would be

    Jimi_Hendrix

Implement this naive baseline and evaluate its performance. Print the evaluation measures that you implemented in Problem&nbsp;1.

<div class="alert alert-warning">
    Here and in the remainder of this lab, you should base your entity predictions on the predicted spans that you computed in Problem&nbsp;3.
</div>

In [264]:
#df_pred_ent.iloc[1,].sentence.split()   , # by yield



def naive_baseline(df):
  df.label = df.apply(lambda row: "_".join(row.sentence.split()[row.beg:row.end]), axis=1)
  return(df)    #for row in df.iloc[:,[0,2,3,4]].itertuples(index=False, name=None): 

df_naive = naive_baseline(df_pred_ent)
df_naive

     sentence_id  ...                           label
0       0946-001  ...                          LONDON
1       0946-002  ...                     West_Indian
2       0946-002  ...                    Phil_Simmons
3       0946-002  ...                        Somerset
4       0946-003  ...                           Essex
...          ...  ...                             ...
4820    1161-007  ...                Bangladesh_Lamps
4821    1161-007  ...               Chittagong_Cement
4822    1161-007  ...                Atlas_Bangladesh
4823    1161-009  ...                             DSE
4824    1161-010  ...  --_Dhaka_Newsroom_880-2-506363

[4825 rows x 5 columns]

In [265]:
# TODO: Write code here to implement the baseline

In [266]:
evaluation_report(set(gold_mentions(df_dev)), set(gold_mentions(df_naive)))

precision: 0.3183419689119171
recall:    0.25959100895724185
f1-score:  0.2859802643827965

## Problem 5: Extending the training data using the knowledge base

State-of-the-art approaches to entity linking exploit information in knowledge bases. In our case, where Wikipedia is the knowledge base, one particularly useful type of information are links to other Wikipedia pages. In particular, we can interpret the anchor texts (the highlighted texts that you click on) as mentions of the entities (pages) that they link to. This allows us to harvest long lists of mention–entity pairings.

The following cell loads a data frame summarizing anchor texts and page references harvested from the first paragraphs of the English Wikipedia. The data frame also contains all entity mentions in the training data (but not the development or the test data).

In [267]:
f3= '/content/drive/MyDrive/Colab Notebooks/tm_lab5/kb.tsv.bz2'
with bz2.open(f3, 'rt') as source:
    df_kb = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

To understand what information is available in this data, the following cell shows the entry for the anchor text `Sweden`.

In [268]:
df_kb.loc[df_kb.mention == 'Sweden']

      mention                                 entity      prob
17436  Sweden                                 Sweden  0.985768
17437  Sweden          Sweden_national_football_team  0.014173
17438  Sweden  Sweden_men's_national_ice_hockey_team  0.000059

As you can see, each row of the data frame contains a pair $(m, e)$ of a mention $m$ and an entity $e$, as well as the conditional probability $P(e|m)$ for mention $m$ referring to entity $e$. These probabilities were estimated based on the frequencies of mention–entity pairs in the knowledge base. The example shows that the anchor text &lsquo;Sweden&rsquo; is most often used to refer to the entity [Sweden](http://en.wikipedia.org/wiki/Sweden), but in a few cases also to refer to Sweden&rsquo;s national football and ice hockey teams. Note that references are sorted in decreasing order of probability, so that the most probable pairing come first.

Implement an entity linking method that resolves each mention to the most probable entity in the data frame. If the mention is not included in the data frame, you can predict the generic label `--NME--`. Print the precision, recall, and F1 of your method using the function that you implemented for Problem&nbsp;1.

In [269]:
# TODO: Write code here to implement the "most probable entity" method.

In [270]:
def H_prob_ent(df_ent, df_kb):  # high probability entity
  for row in df_ent.itertuples(index=False):
    mention = " ".join(row.sentence.split()[row.beg:row.end])
    try:
      yield df_kb.loc[df_kb.loc[df_kb["mention"] == mention, "prob"].idxmax(), "entity"] 
    except:
      yield "--NME--"

In [271]:
new_labels = list(H_prob_ent(df_pred_ent, df_kb))
df_pred_ent.label = new_labels
df_pred_ent

     sentence_id  ...                         label
0       0946-001  ...                        London
1       0946-002  ...      West_Indies_cricket_team
2       0946-002  ...                  Phil_Simmons
3       0946-002  ...  Somerset_County_Cricket_Club
4       0946-003  ...                         Essex
...          ...  ...                           ...
4820    1161-007  ...                       --NME--
4821    1161-007  ...                       --NME--
4822    1161-007  ...                       --NME--
4823    1161-009  ...          Dhaka_Stock_Exchange
4824    1161-010  ...                       --NME--

[4825 rows x 5 columns]

In [272]:
evaluation_report(set(gold_mentions(df_dev)), set(gold_mentions(df_naive)))

precision: 0.6499481865284974
recall:    0.5299983099543688
f1-score:  0.5838763731148763

## Problem 6: Context-sensitive disambiguation

Consider the entity mention &lsquo;Lincoln&rsquo;. The most probable entity for this mention turns out to be [Lincoln, Nebraska](http://en.wikipedia.org/Lincoln,_Nebraska); but in pages about American history, we would be better off to predict [Abraham Lincoln](http://en.wikipedia.org/Abraham_Lincoln). This suggests that we should try to disambiguate between different entity references based on the textual context on the page from which the mention was taken. Your task in this last problem is to implement this idea.

Set up a dictionary that contains, for each mention $m$ that can refer to more than one entity $e$, a separate Naive Bayes classifier that is trained to predict the correct entity $e$, given the textual context of the mention. As the prior probabilities of the classifier, choose the probabilities $P(e|m)$ that you used in Problem&nbsp;5. To let you estimate the context-specific probabilities, we have compiled a data set with mention contexts:

In [273]:
f4= '/content/drive/MyDrive/Colab Notebooks/tm_lab5/contexts.tsv.bz2'
with bz2.open(f4) as source:
    df_contexts = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

This data frame contains, for each ambiguous mention $m$ and each knowledge base entity $e$ to which this mention can refer, up to 100 randomly selected contexts in which $m$ is used to refer to $e$. For this data, a **context** is defined as the 5 tokens to the left and the 5 tokens to the right of the mention. Here are a few examples:

In [274]:
df_contexts.head()

          mention  ...                                            context
0            1970  ...    Cup twice the first in @ and the second in 1983
1            1970  ...  America 1975 and during the @ and 1978 World C...
2  1990 World Cup  ...                 Manolo represented Spain at the @
3  1990 World Cup  ...  Hašek represented Czechoslovakia at the @ and ...
4  1990 World Cup  ...  renovations in 1989 for the @ The present capa...

[5 rows x 3 columns]

Note that, in each context, the position of the mention is indicated by the `@` symbol.

From this data frame, it is easy to select the data that you need to train the classifiers – the contexts and corresponding entities for all mentions. To illustrate this, the following cell shows how to select all contexts that belong to the mention &lsquo;Lincoln&rsquo;:

In [275]:
df_contexts.context[df_contexts.mention == 'Lincoln']

41465    Nebraska Concealed Handgun Permit In @ municip...
41466    Lazlo restaurants are located in @ and Omaha C...
41467    California Washington Overland Park Kansas @ N...
41468    City Missouri Omaha Nebraska and @ Nebraska It...
41469    by Sandhills Publishing Company in @ Nebraska USA
                               ...
41609                                      @ Leyton Orient
41610                    English division three Swansea @
41611    league membership narrowly edging out @ on goa...
41612                                          @ Cambridge
41613                                                   @
Name: context, Length: 149, dtype: object

Implement the context-sensitive disambiguation method and evaluate its performance. Here are some more hints that may help you along the way:

**Hint 1:** The prior probabilities for a Naive Bayes classifier can be specified using the `class_prior` option. You will have to provide the probabilities in the same order as the alphabetically sorted class (entity) names.

**Hint 2:** Not all mentions in the knowledge base are ambiguous, and therefore not all mentions have context data. If a mention has only one possible entity, pick that one. If a mention has no entity at all, predict the `--NME--` label.

In [276]:
# TODO: Write code here to implement the context-sensitive disambiguation method
from sklearn.pipeline import make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [277]:
###
'''
import random
mentions = df_contexts.mention.unique()
#random.seed(202111)
ii=random.choice(range(len(mentions)))
m=mentions[ii]
m
docs = df_contexts.loc[df_contexts.mention==m, "context"]
docs
entities = df_contexts.loc[df_contexts.mention==m, "entity"]
entities
prior = df_kb.loc[df_kb.mention==m].sort_values(by="entity").prob.values
prior
pipeline = make_pipeline(CountVectorizer(),
                            MultinomialNB(class_prior=prior))
pipeline.fit(docs, entities)
pipeline'''

'\nimport random\nmentions = df_contexts.mention.unique()\n#random.seed(202111)\nii=random.choice(range(len(mentions)))\nm=mentions[ii]\nm\ndocs = df_contexts.loc[df_contexts.mention==m, "context"]\ndocs\nentities = df_contexts.loc[df_contexts.mention==m, "entity"]\nentities\nprior = df_kb.loc[df_kb.mention==m].sort_values(by="entity").prob.values\nprior\npipeline = make_pipeline(CountVectorizer(),\n                            MultinomialNB(class_prior=prior))\npipeline.fit(docs, entities)\npipeline'

In [278]:
'''
def nb_mention_train(m):
  docs = df_contexts.loc[df_contexts.mention==m, "context"]
  entities = df_contexts.loc[df_contexts.mention==m, "entity"]
  prior = df_kb.loc[df_kb.mention==m].sort_values(by="entity").prob.values
  pipeline = make_pipeline(CountVectorizer(),
                            MultinomialNB(class_prior=prior))
  pipeline.fit(docs, entities)
  return(pipeline) ###  
'''

mentions = df_contexts.mention.unique()
nb_mention_train_models = {}

for m in mentions:
    docs = df_contexts.loc[df_contexts.mention==m, "context"]
    entities = df_contexts.loc[df_contexts.mention==m, "entity"]
    prior = df_kb.loc[df_kb.mention==m].sort_values(by="entity").prob.values
    pipeline = make_pipeline(CountVectorizer(),
                            MultinomialNB(class_prior=prior))
    pipeline.fit(docs, entities)
    nb_mention_train_models[m] = pipeline
#nb_mention_train(m)

In [279]:
def nb_pred(df_ent, df_kb, nb_mention_train_models):
  #--------------------------------------------------  
  for row in df_ent.itertuples(index=False):
      mention = " ".join(row.sentence.split()[row.beg:row.end])
      if mention in nb_mention_train_models.keys():
          yield nb_mention_train_models[mention].predict([row.sentence])[0]
      elif mention in df_kb.mention.values:
          yield df_kb.loc[df_kb.loc[df_kb["mention"] == mention, "prob"].idxmax(), "entity"]
      else:
          yield "--NME--"

In [280]:
#list(nb_mention_train_models)
new_labels_again = list(  nb_pred(df_pred_ent, df_kb, nb_mention_train_models)   )
df_pred_ent.label = new_labels_again
df_pred_ent

     sentence_id  ...                         label
0       0946-001  ...                        London
1       0946-002  ...                     Caribbean
2       0946-002  ...                  Phil_Simmons
3       0946-002  ...  Somerset_County_Cricket_Club
4       0946-003  ...     Essex_County_Cricket_Club
...          ...  ...                           ...
4820    1161-007  ...                       --NME--
4821    1161-007  ...                       --NME--
4822    1161-007  ...                       --NME--
4823    1161-009  ...          Dhaka_Stock_Exchange
4824    1161-010  ...                       --NME--

[4825 rows x 5 columns]

You should expect to see a small (around 1&nbsp;unit) increase in both precision, recall, and F1.

In [281]:
evaluation_report(set(gold_mentions(df_dev)), set(gold_mentions(df_pred_ent)))

precision: 0.6642487046632124
recall:    0.5416596248098698
f1-score:  0.5967231428039471

**This was the last lab in the Text Mining course. Congratulations!**

<div class="alert alert-info">
    Please read the section ‘General information’ on the ‘Labs’ page of the course website before submitting this notebook!
</div>